
 .cxd-Page-body {
     padding: 0px !important;
 }
 .cxd-Table-toolbar {
     padding: 2px !important;
 }
 .cxd-Crud-toolbar {
     margin-top: -20px;

 }

 .cxd-Form-group {
     margin-bottom: 0.8rem !important;
 }